{{!--
<!DOCTYPE html>
<html>

<head>

  <title>Page Title</title>

  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
  <hi>hello word</hi>
  <form action="/charge" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_dtZeEKgd6FSjpH2sFi8RAYFa" data-amount="999"
      data-name="Settara Limo Corp " data-description="Example charge" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
      </script>
  </form>
</body>
{{{body}}}

</html> --}}